<mat-toolbar class="toolbar">
  <mat-icon> qr_code2 </mat-icon>
  <h2>條碼產生器</h2>
</mat-toolbar>
<div class="wrapper">
  <div class="action-btn">
    <button mat-stroked-button (click)="filesInput.click()">Add file(s)</button>
    <button
      *ngIf="selectedFilename.length > 0"
      mat-stroked-button
      (click)="clearAll()"
    >
      Clear All
    </button>
    <button
      *ngIf="selectedFilename.length > 0"
      mat-stroked-button
      (click)="export()"
    >
      Export
    </button>
  </div>
  <div class="input-invoice">
    <mat-form-field>
      <mat-label>Input Invoice No.</mat-label>
      <textarea
        [formControl]="inputInvoice"
        matInput
        placeholder="Ex. ABC123456789"
      ></textarea>
    </mat-form-field>
    <button (click)="addinvoice()" mat-stroked-button>Add</button>
  </div>
  <input #filesInput type="file" placeholder="select" multiple="multiple" />
  <div id="export-context">
    <div class="barcode-wrapper">
      <div class="preview-barcode" *ngFor="let filename of selectedFilename">
        <div
          [ngClass]="{ 'red-border': filename.length !== 12 }"
          class="preview-files"
        >
          <div class="preview-files__name">
            {{ filename }}
          </div>
          <button
            mat-icon-button
            aria-label="remove_file"
            (click)="removeFile(filename)"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div class="error-msg" *ngIf="filename.length !== 12">
          not match length(12)
        </div>
        <svg *ngIf="filename.length === 12" id="barcode_{{ filename }}"></svg>
      </div>
    </div>
  </div>
</div>
