<mat-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Select File(s)</ng-template>
    <button class="selectBtn" mat-stroked-button (click)="inputFile.click()">
      Select file(s)
    </button>
    <input #inputFile type="file" placeholder="select" multiple="multiple" />
    <ng-container *ngFor="let file of selectedFiles">
      <div class="preview-files">
        <div
          class="preview-files__name"
          [matTooltip]="file.name"
          matTooltipPosition="below"
          matTooltipClass="tooltip-multiline"
        >
          {{ file.name }}
        </div>
        <button
          mat-icon-button
          aria-label="remove_file"
          (click)="removeFile(file)"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </ng-container>
    <div class="next_btn">
      <button
        mat-button
        matStepperNext
        (click)="previewFiles()"
        [disabled]="!selectedFiles || selectedFiles.length === 0"
      >
        Next
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Preview</ng-template>
    <h1>Preview</h1>
    <div *ngFor="let item of previewContent" class="barcode-list">
      <div class="filename">{{ item.filename }}</div>
      <svg [id]="item.id"></svg>
      <mat-divider></mat-divider>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button>Export</button>
    </div>
  </mat-step>
</mat-stepper>
