.wrapper {
  box-sizing: border-box;
  padding: 16px;
}

.action-btn {
  > * + * {
    margin-left: 16px;
  }
  margin-bottom: 16px;
}

.toolbar {
  color: rgba(#fff, 0.9);
  background-color: rgba(#000000, 0.5);
  mat-icon {
    color: rgba(#fff, 0.5);
  }
  > * + * {
    margin-left: 8px;
  }
}
.input-invoice {
  display: flex;
  align-items: center;
  .mat-form-field {
    margin-right: 8px;
    width: 280px;
  }
}

input[type="file"] {
  display: none;
}
.barcode-wrapper {
  display: flex;
  flex-wrap: wrap;
  .preview-barcode {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px;
    width: 400px;
    .preview-files {
      box-sizing: border-box;
      border: 1px solid rgba(#000000, 0.2);
      border-radius: 8px;
      width: 200px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.next_btn {
  margin-top: 16px;
}

.barcode-list {
  display: flex;
  align-items: center;
}
.filename {
  min-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.red-border {
  border: 1px solid red !important;
  border-radius: 8px;
}
.error-msg {
  margin-left: 8px;
  color: red;
}
.sign-wrapper {
  display: flex;
  flex-wrap: wrap;
  mat-label {
    position: relative;
    top: 16px;
  }
  mat-form-field {
    display: block;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}
